:root {

    /* UIS global color palette */
    --e-global-color-primary: #006837;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #333333;
    --e-global-color-accent: #99CC33;
    --e-global-color-40eb6205: #666666;
    --e-global-color-322680a6: #F7F7F7;
    --e-global-color-17ab7c36: #006837CC;
    --e-global-color-black: #000000;
    --e-global-color-lightgray: #f7f7f75c;

    /* Standard sizes and measurements */

    /*Measurements in vh*/
    /*0px*/
    --size-0: 0;
    /*10.92px*/
    --size-s: 2vh;
    /*21.84px*/
    --size-m: 4vh;
    /*32.76px*/
    --size-l: 6vh;
    /*43.68px*/
    --size-xl: 8vh;
    /*54.6px*/
    --size-xxl: 10vh;


    /*Measurements in rem*/
    /*5px */
    --sizeR-s: 0.313rem;
    /*10px*/
    --sizeR-m: 0.625rem;
    /*15px*/
    --sizeR-l: 0.938rem;
    /*20px*/
    --sizeR-xl: 1.25rem;


    /*Measurements in percentage*/
    --sizePorcen-xs: 10%;
    --sizePorcen-s: 20%;
    --sizePorcen-m: 30%;
    --sizePorcen-l: 40%;
    --sizePorcen-xl: 50%;
    --sizePorcen-xxl: 60%;
    --sizePorcen-xxxl: 70%;
    --sizePorcen-4xl: 80%;
    --sizePorcen-5xl: 90%;
    --sizePorcen-6xl: 100%;
}

body {
    padding: var(--size-0);
    font-family: Arial, Helvetica, sans-serif;
    gap: var(--size-0);
    margin: var(--size-0);
    backdrop-filter: blur(4px);
    background-image: url('ASSETS/UIS entrada.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    text-decoration: none;
}

/* clases personalizadas */

/* text decoration none + cursor pointer */
.cp {
    cursor: pointer;
}

/* margin genral auto */
.margina {
    margin: auto;
}


/* Inicio navbar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--e-global-color-322680a6);
    height: var(--size-xl);
    position: relative;
    width: var(--sizePorcen-6xl);
    height: var(--size-xl);
    height: var(--size-xxl);
}

nav a {
    color: var(--e-global-color-40eb6205);
}

.optionnav {
    display: grid;
    align-items: center;
    justify-content: space-around;
    grid-template-columns: 33% 33% 33%;
    font-size: var(--size-m);
    background-color: var(--e-global-color-black);
    width: var(--sizePorcen-l);
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 50px;
    background: var(--e-global-color-black);
    border-left: 150px solid var(--e-global-color-black);
    padding: var(--sizeR-s);
}

nav li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

img.lupa {
    margin-right: 60px;
}

.nav-links2 {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    list-style: none;
    border-left: 140px solid #ffffff00;
    margin-left: var(--sizeR-l);
}

.nav-links li a {
    text-decoration: none;
    color: var(--e-global-color-secondary);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: var(--e-global-color-primary);
}


.containelogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--sizeR-m);
    height: var(--sizePorcen-6xl);
}

.logo {
    margin: auto;
    margin-left: 2rem;
    height: var(--sizePorcen-2xl);
}

/* cards */
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--sizeR-xl);
    gap: 4rem;
}

 .container img {
    border-radius: var(--sizeR-l);
    margin: auto;
} 





.container_target:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--sizeR-l);
    transition-duration: 1.5s;
    background: var(--e-global-color-322680a6);
   
}

.container_target {
    display: flex;
    justify-content: center;
    padding: 1.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: var(--sizeR-l);
    transition-duration: 1s;
    background: var(--e-global-color-lightgray);
    /* width: 80%;  */
    margin: auto;
}

.container_target a{
width: 100%;

}
.container_target {
    position: relative;
}

.routinfo button {
    padding: var(--size-s);
    margin-top: 40px;
    border-radius: 8px;
    border: none;
    background-color: var(--e-global-color-17ab7c36);
    color:var(--e-global-color-secondary);
}

.routinfo button:hover {
    background-color: var(--e-global-color-primary);
}



footer {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 30% 70%;
    background-color: #b4b4b4;
    margin: auto;
    margin-top: 50px;
    width:var(--sizePorcen-6xl);
}

.contacus {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    gap: var(--sizeR-xl);
    margin-top: 80px;
    margin-right: 0;
}

.footlogos{
    display: flex;
    justify-content: space-around;
}

.information {
    display: grid;
    margin: auto;
    margin-left: var(--sizePorcen-s);
    grid-template-columns: auto;
    gap: var(--sizeR-xl);
}

.pqrs{
    border: solid 1px;
    padding: 5px;
}

.networks{
    display: flex;
    justify-content: space-between;
    border-bottom: var(--e-global-color-black) solid 1px;
    padding-bottom: var(--sizeR-m);
}

.nationalphone{
    color: var(--e-global-color-17ab7c36);
}

.contacts {
    display: flex;
    margin-right: var(--sizePorcen-m);
    width: var(--sizePorcen-6xl);
    gap: var(--sizePorcen-xs);
    margin-top: 80px;
    border-bottom: var(--e-global-color-black) solid 1px;
    padding-bottom: 40px;
}

.headquarters {
    display: flex;
    width: 95%;
    gap: 8%;
    margin-top: 80px;
    padding-bottom: 40px;

}

.policies {
    display: flex;
    margin-right: var(--sizePorcen-xs);
    width: var(--sizePorcen-6xl);
    gap:var(--sizePorcen-xs);
    border-top: var(--e-global-color-black) solid 1px;
    padding-top: 40px;
}

.policies1 {
    width: 345px;

}

.policies2 {
    width: 200px;
    margin-left: 90px;
}