/* carrusel */
.carrusel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.596);
    width: var(--sizePorcen-6xl);
    border: 2px thick rgba(255, 255, 255, 0.596);
    box-shadow: 
        0 0 10px rgba(255, 255, 255, 0.6),
        0 0 20px rgba(255, 255, 255, 0.4),
        0 0 30px rgba(255, 255, 255, 0.2);
    border-radius: 4px;  
}

/* Contenedor de slider */ 
ul, li {
      padding: var(--size-0);
      margin: var(--size-0);
      list-style: none;
}
  
ul.slider{
    position: relative;
    width: var(--sizePorcen-6xl);
    height: 450px;
}
  
ul.slider li { 
      position: absolute;
      left: var(--size-0);
      top: var(--size-0);
      opacity: 0; 
      width: inherit; 
      height: inherit;
      transition: opacity .5s;
      background:var(--e-global-color-secondary);
}

/* carrusel */
ul.slider li img{
    width: var(--sizePorcen-6xl);
    height: 450px;
    object-fit: cover;
    margin: auto; 
}
   
ul.slider li:first-child {
      opacity: 1; 
}
  
ul.slider li:target {
      opacity: 1; 
}
   
.menu{
    margin: var(--sizeR-xl);
    text-align: center;

}

.menu li{
    display: inline-block;
    text-align: center;
}

.menu li a{
    display: inline-block;
    color: var(--e-global-color-secondary);
    text-decoration: none;
    background-color: grey;
    padding: var(--sizeR-m);
    width: var(--sizeR-xl);
    height: var(--sizeR-xl);
    font-size:var(--sizeR-xl);
    border-radius: var(--sizePorcen-6xl);
}

footer{
    display: block;
    align-items: center;
    text-align: center;
    padding: var( --sizeR-m);
    background-color: #afafaf;
}

footer button{
    padding: var( --sizeR-m);
    border-radius: var(--sizeR-m);
    border: none;
    background-color: var(--e-global-color-accent);
    color: var(--e-global-color-secondary);
}
