* {
    margin: var(--size-0);
    padding: var(--size-0);
    box-sizing: border-box;
}

.banner{
  display: flex;
  width: var(--sizePorcen-6xl);
  height: 50vh;
}

 .banner img{
  display: flex;
  height: auto;
  width: var(--sizePorcen-6xl);
} 