
.contain4{
    display: flex;
    padding-top: 5%;
    justify-content: center;
    margin-bottom: 2%;
    width: var(--sizePorcen-xl);
    margin: auto;
}

.content_formulario {
    background-color: var(--e-global-color-secondary);
    padding: var(--size-s);
    border-radius: var(--size-s);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: var(--sizePorcen-6xl);
    height: var(--sizePorcen-5xl);
    border: 1px solid var(--e-global-color-40eb6205);
}
form{
    justify-content: center;
}

h1 , h4 {
    font-size: var(--size-xl);
    color: var(--e-global-color-primary);
    text-align: center;
    margin-bottom: var(--size-s);
}

label {
    display: block;
    font-size: var(--size-m);
    color: var(--e-global-color-40eb6205);
    margin-bottom: var(--size-s);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
textarea {
    width: var(--sizePorcen-6xl);
    padding: var(--size-s);
    margin-bottom: var(--size-m);
    border: 1px solid var(--e-global-color-40eb6205);
    border-radius: var(--size-s);
    font-size: var(--size-m);
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: var(--e-global-color-322680a6);
    color: var(--e-global-color-text);
    height: var(--size-xl);
    max-height: 8rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
textarea:focus {
    border-color: var(--e-global-color-accent);
    outline: none;
    box-shadow: 0 0 5px var(--e-global-color-accent);
    background-color: var(--e-global-color-secondary);
}

input[type="button"] {
    width: var(--sizePorcen-6xl );
    padding: var(--size-m);
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-secondary);
    border: none;
    border-radius: var(--size-s);
    font-size: var(--size-m);
    cursor: pointer;
    transition: 0.3s;
}

input[type="button"]:hover {
    background-color: var(--e-global-color-17ab7c36);
}

/* Espaciado general */
input, textarea {
    margin-top: var(--size-s);
}

.content_formulario {
    padding-top: var(--size-m);
}

 .stars {
            display: flex;
            justify-content: center;
            font-size: var(--size-xl);
            margin-bottom:  var( --size-s);
        }

        .stars span {
            cursor: pointer;
            color: gray;
        }

        .stars span.checked {
            color: gold;
        }