/* Variables de colores */
:root {
    --e-global-color-primary: #006837;
    --e-global-color-secondary: #FFFFFF;
    --e-global-color-text: #333333;
    --e-global-color-accent: #99CC33;
    --e-global-color-40eb6205: #666666;
    --e-global-color-322680a6: #F7F7F7;
    --e-global-color-17ab7c36: #006837CC;
    --e-global-color-black: #000000;
    --e-global-color-lightgray:#f7f7f75c;

    --size-0: 0;
    --size-s: 2vh;
    --size-m: 4vh;
    --size-l: 6vh;
    --size-xl: 8vh;
    --size-xxl: 10vh;

    --sizeR-s: 0.313rem;
    --sizeR-m: 0.625rem;
    --sizeR-l: 0.938rem;
    --sizeR-xl: 1.25rem;

}

/* Estilo general */

body {

    padding: var(--size-0);
    font-family: Arial, Helvetica, sans-serif;
    gap: var(--size-0);

    margin: var(--size-0);
    backdrop-filter: blur(4px);
    background-image: url('/ASSETS/UIS entrada.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: solid;
}

   



body {
    background-color: var(--e-global-color-322680a6);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



nav {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--e-global-color-322680a6);
    height: var(--size-xl);
    position: relative; 
    width: 100%;
    height:var(--size-xl);
}

nav a {
    text-decoration: none;
    color: var(--e-global-color-322680a6);
    background-color: var(--e-global-color-text);
    padding: 4px;
}

nav a:hover {
    cursor: pointer;
    background-color: var(--e-global-color-accent);
}

.optionnav {
    display: grid;
    align-items: center;
    text-align: center;
    grid-template-columns: 30% 30% 30%;
    font-size: 17px;
    grid-area: 10px;
    width: 40%;
}

.containelogo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: var(--sizeR-m); 
    height: 100%;

}

.logo {
    margin: auto;
    margin-left: 2rem;
    height: 90%;
     border-radius: var(--sizeR-l); 
}


/* Diseño moderno para el formulario */

.contain{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.content_formulario {
    background-color: var(--e-global-color-secondary);
    padding: var(--size-s);
    border-radius: var(--size-s);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 40rem;
    height: 80%;
    border: 1px solid var(--e-global-color-40eb6205);
    margin-top: var(--size-s);
}
form{
    justify-content: center;
}

h1 {
    font-size: var(--size-xl);
    color: var(--e-global-color-primary);
    text-align: center;
    margin-bottom: var(--size-s);
}

label {
    display: block;
    font-size: var(--size-m);
    color: var(--e-global-color-40eb6205);
    margin-bottom: var(--size-s);
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: var(--size-s);
    margin-bottom: var(--size-m);
    border: 1px solid var(--e-global-color-40eb6205);
    border-radius: var(--size-s);
    font-size: var(--size-m);
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: var(--e-global-color-322680a6);
    color: var(--e-global-color-text);
    max-height: 10rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
    border-color: var(--e-global-color-accent);
    outline: none;
    box-shadow: 0 0 5px var(--e-global-color-accent);
    background-color: var(--e-global-color-secondary);
}

textarea {
    resize: none;
}

input[type="button"] {
    width: 100%;
    padding: var(--size-m);
    background-color: var(--e-global-color-primary);
    color: var(--e-global-color-secondary);
    border: none;
    border-radius: var(--size-s);
    font-size: var(--size-m);
    cursor: pointer;
    transition: 0.3s ease;
}

input[type="button"]:hover {
    background-color: var(--e-global-color-17ab7c36);
}


/* Espaciado general */
input, textarea {
    margin-top: var(--size-s);
}

.content_formulario {
    padding-top: var(--size-m);
}


footer{
    display: block;
    align-items: center;
    text-align: center;
    padding: 1%;
    background-color: #afafaf;
}

footer button{
    padding: 10px;
    border-radius: var(--sizeR-m);
    border: none;
    background-color: var(--e-global-color-accent);
    color: #FFFFFF;
}
/* Estilo para navegadores Webkit (Chrome, Safari) */
::-webkit-scrollbar {
    width: 12px; /* Ancho de la barra de desplazamiento */
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color de fondo de la pista */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--e-global-color-accent); /* Color de la barra */
    border-radius: 10px; /* Bordes redondeados */
    border: 3px solid #f1f1f1; /* Espacio alrededor de la barra */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: var(--e-global-color-primary); /* Color de la barra al pasar el ratón */
  }
